In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re
pd.options.display.float_format = '$ {:,.2f}'.format

### Function to read files txt

In [39]:
def lectura(ruta, pattern):

    # list comprehension to read all files in a path
    files = [file for file in os.listdir(ruta)]

    # creating empty list
    importe = []
    nombre = []
    archivo = []

    # the first loop is created to read files in a path
    for file in files:
        f = open(ruta+file, "r", encoding="utf8")

        # the second one is created to read line in the file
        for line in f:
          resultado = re.match(pattern, line)
          if resultado:
            importe.append(resultado.group(1))
            nombre.append(resultado.group(2))
            archivo.append(file)
        f.close()
    return (nombre, importe, archivo)

### First, I want to read all files of PEMs

In [40]:
# It is needed a path and a pattern (RegEx)
ruta = '2022_09_30/PEM/'
pattern = re.compile(r'^[\d]{9}[\s]{16}[\d]{12}[\s]{10}([\d]{15})([A-Za-z\s]*).*$')

In [41]:
listas = lectura(ruta=ruta, pattern=pattern)

df_pem = pd.DataFrame({'Nombre':listas[0],
                  'Importe':listas[1],
                  'Archivo':listas[2]})
df_pem['Importe'] = df_pem['Importe'].astype('int')
df_pem['Importe'] = df_pem['Importe'].apply(lambda x: x/100)
df_pem.head()

,Nombre,Importe,Archivo
0,BRENDA LETICIA SANTIAGO ALCANTARA,"$ 4,500.00",220930_BecasPEM2021Bailleres_Sep2.txt
1,DENHI ANA LUISA SANTIAGO SERVIN,"$ 4,500.00",220930_BecasPEM2021Bailleres_Sep2.txt
2,BRENDA GONZALEZ HERNANDEZ,"$ 4,500.00",220930_BecasPEM2021Lego_Sep2.txt
3,NANCY GABRIELA ROJAS JUAREZ,"$ 4,500.00",220930_BecasPEM2021Lego_Sep2.txt
4,ADRIANA FERNANDEZ TORRES,"$ 4,500.00",220930_BecasPEM2022-1Lego_Sep2.txt

In [42]:
df_pem.groupby('Archivo').sum().reset_index()

                                     Archivo      Importe
0      220930_BecasPEM2021Bailleres_Sep2.txt   $ 9,000.00
1           220930_BecasPEM2021Lego_Sep2.txt   $ 9,000.00
2         220930_BecasPEM2022-1Lego_Sep2.txt  $ 63,000.00
3    220930_BecasPEM2022-2Bailleres_Sep2.txt  $ 27,000.00
4           220930_BecasPEM_ExM2021_Sep2.txt $ 135,172.63
5         220930_BecasPEM_ExM2022-1_Sep2.txt  $ 22,500.00
6         220930_BecasPEM_ExM2022-2_Sep2.txt $ 157,500.00
7    220930_BecasPEM_ExMPI2021Femsa_Sep2.txt  $ 25,000.00
8           220930_BecasPEM_FCB2021_Sep2.txt  $ 27,000.00
9         220930_BecasPEM_FCB2022-1_Sep2.txt  $ 18,000.00
10        220930_BecasPEM_FCB2022-2_Sep2.txt   $ 4,500.00
11    220930_BecasPEM_Kellogg2022-2_Sep2.txt $ 115,000.00
12  220930_BecasPEM_MoisesItz2022-2_Sep2.txt  $ 49,500.00
13       220930_BecasPEM_Palapa2021_Sep2.txt   $ 6,000.00
14     220930_BecasPEM_Palapa2022-2_Sep2.txt   $ 6,000.00
15      220930_BecasPEM_ValleMa2021_Sep2.txt   $ 5,000.00
16    220930_BecasPEM_ValleMa2022-2_Sep2.txt   $ 5,000.00

In [45]:
df_pem['Nombre'] = df_pem['Nombre'].str.strip()

In [46]:
pem = pd.read_excel('./2022_09_30/pem.xlsx')
pem.head()

,Nombre,Correo,Generación,Región,Proyecto,Donante,Monto,Observaciones,Días a pagar
0,ANA BERTHA AVILA HERNANDEZ,ana.avila2021@ensenapormexico.org,2021,Centro,ExM 2021,Caterpillar,"$ 4,500.00",NaN,15
1,ABSHALOM BENITEZ AGUILAR,abshalom.benitez2021@ensenapormexico.org,2021,Noreste,ExM 2021,CONALEP,"$ 5,000.00",NaN,15
2,ADRIAN CARMONA ELIZARRARAS,adrian.carmona2021@ensenapormexico.org,2021,Bajío,FCB 2022-1,Fundación Comunitaria del Bajío,"$ 4,500.00",NaN,15
3,ADRIANA FERNANDEZ TORRES,adriana.fernandez2021pi@ensenapormexico.org,2021pi,Centro,LEGO 2022-1,LEGO,"$ 4,500.00",NaN,15
4,ALEJANDRA GUADALUPE HERNANDEZ GALAN,alejandra.hernandez2022@ensenapormexico.org,2022,Centro,Moises Itz 2022-2,Moisés Itzkowich,"$ 4,500.00",NaN,15

In [47]:
df_pem = df_pem.merge(pem, how='outer', left_on='Nombre', right_on='Nombre')

In [48]:
df_pem

,Nombre,Importe,Archivo,Correo,Generación,Región,Proyecto,Donante,Monto,Observaciones,Días a pagar
0,BRENDA LETICIA SANTIAGO ALCANTARA,"$ 4,500.00",220930_BecasPEM2021Bailleres_Sep2.txt,brenda.santiago2021@ensenapormexico.org,2021,Centro,Bailleres 2021,Fundación Alberto Bailleres,"$ 4,500.00",NaN,$ 15.00
1,DENHI ANA LUISA SANTIAGO SERVIN,"$ 4,500.00",220930_BecasPEM2021Bailleres_Sep2.txt,denhi.santiago2021@ensenapormexico.org,2021,Centro,Bailleres 2021,Fundación Alberto Bailleres,"$ 4,500.00",NaN,$ 15.00
2,BRENDA GONZALEZ HERNANDEZ,"$ 4,500.00",220930_BecasPEM2021Lego_Sep2.txt,brenda.gonzalez2021pi@ensenapormexico.org,2021pi,Centro,LEGO 2021,LEGO,"$ 4,500.00",NaN,$ 15.00
3,NANCY GABRIELA ROJAS JUAREZ,"$ 4,500.00",220930_BecasPEM2021Lego_Sep2.txt,nancy.rojas2021pi@ensenapormexico.org,2021pi,Centro,LEGO 2021,LEGO,"$ 4,500.00",NaN,$ 15.00
4,ADRIANA FERNANDEZ TORRES,"$ 4,500.00",220930_BecasPEM2022-1Lego_Sep2.txt,adriana.fernandez2021pi@ensenapormexico.org,2021pi,Centro,LEGO 2022-1,LEGO,"$ 4,500.00",NaN,$ 15.00
...,...,...,...,...,...,...,...,...,...,...,...
142,ELIDE PEREZ NOHPAL,"$ 6,000.00",220930_BecasPEM_Palapa2021_Sep2.txt,elide.perez2021@ensenapormexico.org,2021,Noroeste,Palapa 2021,La Palapa,"$ 6,000.00",NaN,$ 15.00
143,EDUARDO JAEL OLIVARES GARCIA,"$ 6,000.00",220930_BecasPEM_Palapa2022-2_Sep2.txt,eduardo.olivares2022@ensenapormexico.org,2022,Noroeste,Palapa 2022-2,La Palapa,"$ 6,000.00",NaN,$ 15.00
144,TANIA FRIAS GUERRERO,"$ 5,000.00",220930_BecasPEM_ValleMa2021_Sep2.txt,tania.frias2021@ensenapormexico.org,2021,Centro,Valle Ma 2021,Valle de María,"$ 5,000.00",NaN,$ 15.00
145,DIANA MONTSERRAT PALESTINA ARADILLAS,"$ 5,000.00",220930_BecasPEM_ValleMa2022-2_Sep2.txt,diana.palestina2022@ensenapormexico.org,2022,Centro,Valle Ma 2022-2,Valle de María,"$ 5,000.00",NaN,$ 15.00
146,ANER BIZAI GARCIA MANZO,NaN,NaN,aner.garcia2021@ensenapormexico.org,2021,Centro,ExM 2022-1,Rubén Contreras,"$ 4,500.00",NaN,$ 15.00

In [94]:
df_pem.groupby(['Proyecto', 'Donante'])[['Monto']].sum()

                                                         Monto
Proyecto          Donante
Bailleres 2021    Fundación Alberto Bailleres       $ 9,000.00
Bailleres 2022-2  Fundación Alberto Bailleres      $ 27,000.00
ExM 2021          CONALEP                          $ 30,000.00
                  Caterpillar                      $ 27,000.00
                  Fundación Fleishman              $ 20,000.00
                  Fundación Legorreta Hernández     $ 4,500.00
                  Guardian Industries               $ 8,172.63
                  ICF                              $ 18,000.00
                  Rubén Contreras                  $ 22,500.00
                  Varios donantes                   $ 5,000.00
ExM 2022-1        Caterpillar                       $ 4,500.00
                  Rubén Contreras                  $ 13,500.00
                  Varios donantes                   $ 4,500.00
ExM 2022-2        CONALEP                          $ 15,000.00
                  Fundación Fleishman              $ 13,500.00
                  Fundación Legorreta Hernández     $ 4,500.00
                  Fundación SURA                   $ 27,000.00
                  Georgina López Guerra            $ 40,500.00
                  Guardian Industries               $ 5,000.00
                  ICF                              $ 13,500.00
                  Rubén Contreras                  $ 13,500.00
                  Varios donantes                  $ 25,000.00
ExM PI 2021 Femsa FEMSA                            $ 25,000.00
FCB 2021          Fundación Comunitaria del Bajío  $ 27,000.00
FCB 2022-1        Fundación Comunitaria del Bajío  $ 18,000.00
FCB 2022-2        Fundación Comunitaria del Bajío   $ 4,500.00
Kellogg 2022-2    W.K Kellogg Foundation          $ 115,000.00
LEGO 2021         LEGO                              $ 9,000.00
LEGO 2022-1       LEGO                             $ 63,000.00
Moises Itz 2022-2 Moisés Itzkowich                 $ 49,500.00
Palapa 2021       La Palapa                         $ 6,000.00
Palapa 2022-2     La Palapa                         $ 6,000.00
Valle Ma 2021     Valle de María                    $ 5,000.00
Valle Ma 2022-2   Valle de María                    $ 5,000.00

In [49]:
df_pem.to_excel('./2022_09_30/2022_09_30_pem.xlsx', sheet_name='dispersion')

### Read payroll of BBVA

In [77]:
# It is needed a path and a pattern (RegEx)
ruta = '2022_09_30/nomina_BBVA/'
pattern = re.compile(r'^[\d]{9}[\s]{16}[\d]{12}[\s]{10}([\d]{15})([A-Za-z\s]*).*$')

In [78]:
listas = lectura(ruta=ruta, pattern=pattern)

df_nominaBBVA = pd.DataFrame({'Nombre':listas[0],
                  'Importe':listas[1],
                  'Archivo':listas[2]})
df_nominaBBVA['Importe'] = df_nominaBBVA['Importe'].astype('int')
df_nominaBBVA['Importe'] = df_nominaBBVA['Importe'].apply(lambda x: x/100)
df_nominaBBVA.head()

,Nombre,Importe,Archivo
0,Lopez Ramirez Katya del Rocio,"$ 7,431.98",22.09.30_NominaStaffBailleres_Sep2.txt
1,Lopez Madrigal Jose Alfredo,"$ 7,431.98",22.09.30_NominaStaffBailleres_Sep2.txt
2,Alvarez Martinez Martha Rosa,"$ 8,313.04",22.09.30_NominaStaffExM_Sep2.txt
3,Banuelos Murillo Tania Montserrat,"$ 10,549.53",22.09.30_NominaStaffExM_Sep2.txt
4,Cano Garcia Karla Berenice,"$ 9,426.20",22.09.30_NominaStaffExM_Sep2.txt

In [79]:
df_nominaBBVA.groupby('Archivo').sum().reset_index()

                                  Archivo      Importe
0  22.09.30_NominaStaffBailleres_Sep2.txt  $ 14,863.96
1        22.09.30_NominaStaffExM_Sep2.txt $ 437,517.27
2       22.09.30_NominaStaffLego_Sep2.txt  $ 65,196.70

### Read payroll of Scotia

In [80]:
# It is needed a path and a pattern (RegEx)
# Aquí primero asegurarse de quitar los sisuientes caracteres: ñíéáÁ 
ruta = '2022_09_30/nomina_SB/'
pattern = re.compile(r'^[EDA]+[\d]{2}([\d]{17})[\d]{12}[\s][A-Za-z]{5}[\s]{25}([A-Za-z\s]{0,35})[\s]{9}.*$')

In [81]:
listas = lectura(ruta=ruta, pattern=pattern)

df_nominaSB = pd.DataFrame({'Nombre':listas[0],
                  'Importe':listas[1],
                  'Archivo':listas[2]})
df_nominaSB['Importe'] = df_nominaSB['Importe'].astype('int')
df_nominaSB['Importe'] = df_nominaSB['Importe'].apply(lambda x: x/100)
df_nominaSB.head(10)

,Nombre,Importe,Archivo
0,Marin Castillo Adela,"$ 12,071.94",22.09.30_NominaStaffExM_Sep2 SB.txt
1,Pena Peralta Andres,"$ 15,722.58",22.09.30_NominaStaffExM_Sep2 SB.txt
2,Ramirez Contreras Angel Manuel,"$ 12,250.22",22.09.30_NominaStaffExM_Sep2 SB.txt
3,Torres Sandoval Maria Alejandra,"$ 12,126.86",22.09.30_NominaStaffExM_Sep2 SB.txt
4,Herrera Gonzalez Estela,"$ 21,249.00",22.09.30_NominaStaffExM_Sep2 SB.txt

In [82]:
df_nominaSB.groupby('Archivo').sum().reset_index()

                               Archivo     Importe
0  22.09.30_NominaStaffExM_Sep2 SB.txt $ 73,420.60

In [83]:
df_nomina = pd.concat([df_nominaBBVA, df_nominaSB], ignore_index=True)

In [84]:
df_nomina['Nombre'] = df_nomina['Nombre'].str.strip()

In [85]:
df_nomina.head()

,Nombre,Importe,Archivo
0,Lopez Ramirez Katya del Rocio,"$ 7,431.98",22.09.30_NominaStaffBailleres_Sep2.txt
1,Lopez Madrigal Jose Alfredo,"$ 7,431.98",22.09.30_NominaStaffBailleres_Sep2.txt
2,Alvarez Martinez Martha Rosa,"$ 8,313.04",22.09.30_NominaStaffExM_Sep2.txt
3,Banuelos Murillo Tania Montserrat,"$ 10,549.53",22.09.30_NominaStaffExM_Sep2.txt
4,Cano Garcia Karla Berenice,"$ 9,426.20",22.09.30_NominaStaffExM_Sep2.txt

In [86]:
nomina = pd.read_excel('./2022_09_30/nomina.xlsx')

In [87]:
df_nomina = df_nomina.merge(nomina, how='outer', left_on='Nombre', right_on='Nombre')

In [88]:
df_nomina

,Nombre,Importe,Archivo,Edenred,Banco,No. de cuenta,Total a pagar,Vales
0,Lopez Ramirez Katya del Rocio,"$ 7,431.98",22.09.30_NominaStaffBailleres_Sep2.txt,64,BBVA-Bailleres,1557185212,"$ 7,431.98",884
1,Lopez Madrigal Jose Alfredo,"$ 7,431.98",22.09.30_NominaStaffBailleres_Sep2.txt,65_A,BBVA-Bailleres,2895685761,"$ 7,431.98",884
2,Alvarez Martinez Martha Rosa,"$ 8,313.04",22.09.30_NominaStaffExM_Sep2.txt,103,BBVA-ExM,1545063787,"$ 8,313.04",1500
3,Banuelos Murillo Tania Montserrat,"$ 10,549.53",22.09.30_NominaStaffExM_Sep2.txt,115,BBVA-ExM,1534695828,"$ 10,549.53",1297
4,Cano Garcia Karla Berenice,"$ 9,426.20",22.09.30_NominaStaffExM_Sep2.txt,122,BBVA-ExM,1562455572,"$ 9,426.20",1148
5,Covarrubias Sustaita Jonathan,"$ 5,369.26",22.09.30_NominaStaffExM_Sep2.txt,98,BBVA-ExM,2609451773,"$ 5,369.26",1086
6,Dionicio Luna Miguel,"$ 11,067.22",22.09.30_NominaStaffExM_Sep2.txt,74,BBVA-ExM,1554887581,"$ 11,067.22",1366
7,Franco Gonzalez Jose Manuel,"$ 11,029.73",22.09.30_NominaStaffExM_Sep2.txt,48,BBVA-ExM,1514602024,"$ 11,029.73",1500
8,Gomez Gallardo Aguilar Ana,"$ 19,382.53",22.09.30_NominaStaffExM_Sep2.txt,80,BBVA-ExM,1521134917,"$ 19,382.53",1500
9,Gonzalez Barajas Juan Manuel,"$ 61,748.99",22.09.30_NominaStaffExM_Sep2.txt,85,BBVA-ExM,1512592358,"$ 61,748.99",1500
10,Gonzalez Flores Gerardo,"$ 2,526.87",22.09.30_NominaStaffExM_Sep2.txt,129,BBVA-ExM,2891398040,"$ 2,526.87",1086
11,Gonzalez Garduno Monica,"$ 4,916.90",22.09.30_NominaStaffExM_Sep2.txt,79,BBVA-ExM,1527428642,"$ 4,916.90",1024
12,Gout Martinez de Velasco Ana Paula,"$ 21,948.92",22.09.30_NominaStaffExM_Sep2.txt,84,BBVA-ExM,1506603119,"$ 21,948.92",1500
13,Juarez Pinzon Rosa,"$ 5,763.08",22.09.30_NominaStaffExM_Sep2.txt,112,BBVA-ExM,2609454403,"$ 5,763.08",1148
14,Lara Paz Karen Alejandra,"$ 10,597.51",22.09.30_NominaStaffExM_Sep2.txt,111,BBVA-ExM,1534695739,"$ 10,597.51",1303
15,Martinez Narcizo Samantha Itzel,"$ 10,549.53",22.09.30_NominaStaffExM_Sep2.txt,113,BBVA-ExM,1537278055,"$ 10,549.53",1297
16,Monroy Cruz Manuel Alejandro,"$ 8,957.21",22.09.30_NominaStaffExM_Sep2.txt,131,BBVA-ExM,1516835409,"$ 8,957.21",1086
17,Moreno Gonzalez Sergio Alberto,"$ 11,301.22",22.09.30_NominaStaffExM_Sep2.txt,102,BBVA-ExM,1516650841,"$ 11,301.22",1398
18,Neri Vazquez Ricardo,"$ 6,846.65",22.09.30_NominaStaffExM_Sep2.txt,54,BBVA-ExM,2717257074,"$ 6,846.65",807
19,Peniche Ake Stephany,"$ 8,488.18",22.09.30_NominaStaffExM_Sep2.txt,114,BBVA-ExM,1536227546,"$ 8,488.18",1024
20,Perez Gaspar Francisco Javier,"$ 8,488.18",22.09.30_NominaStaffExM_Sep2.txt,109,BBVA-ExM,1267477090,"$ 8,488.18",1024
21,Rodriguez Leonardo Nayeli Melisa,"$ 11,769.67",22.09.30_NominaStaffExM_Sep2.txt,86,BBVA-ExM,460787264,"$ 11,769.67",1461
22,Sandoval Torres Jose Maria,"$ 9,426.20",22.09.30_NominaStaffExM_Sep2.txt,110,BBVA-ExM,2859654496,"$ 9,426.20",1148
23,Teco Sanchez Elias Ebeth,"$ 15,250.18",22.09.30_NominaStaffExM_Sep2.txt,65,BBVA-ExM,2859654550,"$ 15,250.18",1500
24,Flores Robles Ana Norely,"$ 8,722.72",22.09.30_NominaStaffExM_Sep2.txt,A_38,BBVA-ExM,1267479220,"$ 8,722.72",1055
25,Martinez Gallegos Ismael,"$ 14,673.86",22.09.30_NominaStaffExM_Sep2.txt,A_40,BBVA-ExM,1525547426,"$ 14,673.86",1500
26,Jacquemin X Margaux Andree B,"$ 11,067.22",22.09.30_NominaStaffExM_Sep2.txt,77,BBVA-ExM,1546708013,"$ 11,067.22",1366
27,Cervantes Moreno Rogelio,"$ 3,654.34",22.09.30_NominaStaffExM_Sep2.txt,105,BBVA-ExM,1549426241,"$ 3,654.34",1169
28,Rosas Trujillo Sarai,"$ 16,499.00",22.09.30_NominaStaffExM_Sep2.txt,43,BBVA-ExM,2978096996,"$ 16,499.00",1500
29,Montoya Crespo Ethel Edith,"$ 9,246.20",22.09.30_NominaStaffExM_Sep2.txt,108,BBVA-ExM,2877609345,"$ 9,246.20",1148
30,Garza Leon Susana,"$ 7,784.65",22.09.30_NominaStaffExM_Sep2.txt,46,BBVA-ExM,1577888085,"$ 7,784.65",931
31,Leiva Lopez Blanca Elena,"$ 10,364.24",22.09.30_NominaStaffExM_Sep2.txt,168,BBVA-ExM,1568104565,"$ 10,364.24",1272
32,Chavez Rebolledo Ricardo,"$ 8,476.68",22.09.30_NominaStaffExM_Sep2.txt,53,BBVA-ExM,1293575608,"$ 8,476.68",1461
33,Leon Morales Josue,"$ 8,019.15",22.09.30_NominaStaffExM_Sep2.txt,55,BBVA-ExM,1595322720,"$ 8,019.15",962
34,Ramos Razo Elias Trinidad,"$ 7,079.99",22.09.30_NominaStaffExM_Sep2.txt,56,BBVA-ExM,2978598983,"$ 7,079.99",838
35,Ramirez Castillo Mariana,"$ 7,783.52",22.09.30_NominaStaffExM_Sep2.txt,57,BBVA-ExM,1595609914,"$ 7,783.52",931
36,Gallegos Orozco Rosa Isela,"$ 2,569.23",22.09.30_NominaStaffExM_Sep2.txt,59,BBVA-ExM,1592990493,"$ 2,569.23",263
37,Tamayo Sanchez Mejorada Maria del Carmen,"$ 3,633.98",22.09.30_NominaStaffExM_Sep2.txt,60,BBVA-ExM,1267478356,"$ 3,633.98",884
38,Alvarado Espindola Monica,"$ 7,431.98",22.09.30_NominaStaffExM_Sep2.txt,61,BBVA-ExM,1519168446,"$ 7,431.98",884
39,Martinez Ruvalcaba Dulce Nelida,"$ 7,431.98",22.09.30_NominaStaffExM_Sep2.txt,62,BBVA-ExM,1579302764,"$ 7,431.98",884
40,Hernandez Jimenez Brenda,"$ 7,431.98",22.09.30_NominaStaffExM_Sep2.txt,63,BBVA-ExM,1533757598,"$ 7,431.98",884
41,Ruvalcaba Mota Jesus Geovanni,"$ 7,431.98",22.09.30_NominaStaffExM_Sep2.txt,66,BBVA-ExM,1559967427,"$ 7,431.98",884
42,Guerrero Alcantara Luis Manuel,"$ 8,118.00",22.09.30_NominaStaffExM_Sep2.txt,67_A,BBVA-ExM,2630444421,"$ 8,118.00",975
43,Barradas Santiago Shaila,"$ 6,379.77",22.09.30_NominaStaffExM_Sep2.txt,68,BBVA-ExM,´0462074710,"$ 6,379.77",368
44,Bernaldez Ruiz Brenda,"$ 30,248.97",22.09.30_NominaStaffLego_Sep2.txt,73,BBVA-LEGO,1551992708,"$ 30,248.97",1500
45,Lopez Conde Cervantes Tania Alejandra,"$ 13,750.26",22.09.30_NominaStaffLego_Sep2.txt,92,BBVA-LEGO,2609449884,"$ 13,750.26",1500
46,Arano Rivera Zurisadai,"$ 10,833.22",22.09.30_NominaStaffLego_Sep2.txt,101,BBVA-LEGO,1545095398,"$ 10,833.22",1334
47,Velez Jimenez Maria del Pilar,"$ 10,364.25",22.09.30_NominaStaffLego_Sep2.txt,150,BBVA-LEGO,1568104832,"$ 10,364.25",1272
48,Marin Castillo Adela,"$ 12,071.94",22.09.30_NominaStaffExM_Sep2 SB.txt,39,SB-ExM,105423314,"$ 12,071.94",1500
49,Pena Peralta Andres,"$ 15,722.58",22.09.30_NominaStaffExM_Sep2 SB.txt,38,SB-ExM,105423843,"$ 15,722.58",1500
50,Ramirez Contreras Angel Manuel,"$ 12,250.22",22.09.30_NominaStaffExM_Sep2 SB.txt,9,SB-ExM,105489596,"$ 12,250.22",1500
51,Torres Sandoval Maria Alejandra,"$ 12,126.86",22.09.30_NominaStaffExM_Sep2 SB.txt,12,SB-ExM,105489612,"$ 12,126.86",1500
52,Herrera Gonzalez Estela,"$ 21,249.00",22.09.30_NominaStaffExM_Sep2 SB.txt,58,SB-ExM,105214599,"$ 21,249.00",1500
53,Claudia Domiguez Soriano (PENSION ALIMENTICIA),NaN,NaN,105_P,BBVA-ExM,1538961840,"$ 2,354.13",292

In [90]:
df_nomina.groupby('Banco').sum()

                    Importe  Total a pagar  Vales
Banco
BBVA-Bailleres  $ 14,863.96    $ 14,863.96   1768
BBVA-ExM       $ 437,517.27   $ 439,871.40  48154
BBVA-LEGO       $ 65,196.70    $ 65,196.70   5606
SB-ExM          $ 73,420.60    $ 73,420.60   7500

In [91]:
df_nominaBBVA.to_excel('./2022_09_30/2022_09_30_nominaBBVA.xlsx', sheet_name='dispersion')
df_nominaSB.to_excel('./2022_09_30/2022_09_30_nominaSB.xlsx', sheet_name='dispersion')
df_nomina.to_excel('./2022_09_30/2022_09_30_nomina.xlsx', sheet_name='dispersion')